
outcome_data/ip_locations.csv
outcome_data/product_info_referrer_url.csv
.gitignore
outcome_data/*.csv
project-05/output_current_urls/*.csv
project-05/output_referrer_urls/*.csv

project-05/src/project_05/config.py

outcome_data/output_current_urls/*.csv
outcome_data/output_referrer_urls/*.csv
project-05/src/project_05/__pycache__/collect_product_info.cpython-314.pyc
.gitignore
project-05/src/project_05/__pycache__/con.cpython-314.pyc
project-05/src/project_05/__pycache__/config.cpython-314.pyc
project-05/src/project_05/__pycache__/config.cpython-314.pyc
.gitignore
project-05/src/project_05/__pycache__/scrape_product_name.cpython-314.pyc
project-05/src/project_05/__pycache__/utils.cpython-314.pyc
